@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --color-blue : #3785ce;
  --color-black : #000;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Instrument Serif' , "Noto Serif Japanese", "Helvetica", sans-serif;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}